/*
 * coderAIO
 *
 * Version: 0.0.1
 * Author: Dezodev
 * License: GNU GPLv3
**/

/* Variables
** ========================================== */
@import "./variables";

/* Spectre.css
** ========================================== */
@import "node_modules/spectre.css/src/spectre";

/* General
** ========================================== */

body {
    font-size: 16px;
    background: $gray-color;
    color: $light-color;
}

/* Structure
** ========================================== */

.app-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.app-sidebar {
    padding: 25px 15px 0;
    width: 12rem;
    color: $light-color;
}
.app-main-content {
    padding: 25px 30px 15px;
    flex: 1 1 auto;
}

/* Sidebar
** ========================================== */

.app-sidebar {
    background: $dark-color;
    color: $light-color;

    .app-title { font-size: 1.3rem; }
    .app-sidebar-nav {
        .nav-item {
            a {
                color: $light-color;
                &.nuxt-link-active {
                    color: $primary-color;
                }
            }
        }
        .nav {
            font-size: 0.9em;
        }
        .divider {
            border-top-color: rgba($light-color, .5);
        }
    }
}


.color-pallete {
    .column {
        .color-bg {
            height: 30px;
            text-align: center;
            color: $light-color;
            border: 2px solid #000; margin-bottom: 5px;
        }
        .color-bg-primary {
            background: $primary-color;
            color: $dark-color;
        }
        .color-bg-secondary {
            background: $secondary-color;
            color: $dark-color;
        }
        .color-bg-dark {
            background: $dark-color;
        }
        .color-bg-light {
            background: $light-color;
            color: $dark-color;
        }
        .color-bg-gray {
            background: $gray-color;
        }
        .color-bg-success {
            background: $success-color;
        }
        .color-bg-warning {
            background: $warning-color;
        }
        .color-bg-error {
            background: $error-color;
        }
    }
}